/**
* Fonts 
*/
@font-face {
  font-family: "AeonikPro-Medium";
  src: url("../fonts/AeonikPro-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "AeonikPro-Regular";
  src: url("../fonts/AeonikPro-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "AeonikPro-Light";
  src: url("../fonts/AeonikPro-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "AeonikPro-Thin";
  src: url("../fonts/AeonikPro-Thin.woff") format("woff");
  font-display: swap;
}
/**
* Mixins Responsive Design
*/
.golf-map-v2 {
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .golf-map-v2 {
    margin-bottom: 0;
  }
}
.golf-map-v2 .golfMapCourseImagesSwiper:hover .swiper-map-button-next {
  opacity: 1;
}
.golf-map-v2 .golfMapCourseImagesSwiper {
  float: right;
  width: 50%;
  margin-right: -24px;
  z-index: 2;
  overflow: visible;
}
@media (min-width: 992px) {
  .golf-map-v2 .golfMapCourseImagesSwiper {
    margin: 0;
  }
}
@media (min-width: 1920px) {
  .golf-map-v2 .golfMapCourseImagesSwiper {
    margin: 40px 0 0 0;
  }
}
.golf-map-v2 .golfMapCourseImagesSwiper .swiper-wrapper .swiper-slide .image-wrapper {
  text-align: end;
}
@media (min-width: 992px) {
  .golf-map-v2 .golfMapCourseImagesSwiper .swiper-wrapper .swiper-slide .image-wrapper {
    overflow: hidden;
  }
}
.golf-map-v2 .golfMapCourseImagesSwiper .swiper-wrapper .swiper-slide .image-wrapper img {
  width: 100%;
  height: auto;
}
@media (min-width: 992px) {
  .golf-map-v2 .golfMapCourseImagesSwiper .swiper-wrapper .swiper-slide .image-wrapper img {
    max-height: 475px;
    width: auto;
  }
}
@media (min-width: 1200px) {
  .golf-map-v2 .golfMapCourseImagesSwiper .swiper-wrapper .swiper-slide .image-wrapper img {
    height: auto;
    max-height: 475px;
    width: auto;
  }
}
@media (min-width: 1400px) {
  .golf-map-v2 .golfMapCourseImagesSwiper .swiper-wrapper .swiper-slide .image-wrapper img {
    max-height: 405px;
    width: auto;
  }
}
@media (min-width: 1920px) {
  .golf-map-v2 .golfMapCourseImagesSwiper .swiper-wrapper .swiper-slide .image-wrapper img {
    max-height: 525px;
    width: auto;
  }
}
.golf-map-v2 .golfMapCourseImagesSwiper .swiper-map-button-next {
  background-image: url(../img/arrow-map-desktop-right.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
  margin: 0 0 1px 0;
  right: 12px;
  width: 80px;
}
.golf-map-v2 .golfMapCourseImagesSwiper .swiper-map-button-next::after {
  content: "";
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.75rem;
}
.golf-map-v2 .golfMapCourseImagesSwiper .swiper-map-button-next {
  background-image: url(../img/arrow-map-desktop-right.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
  margin: 0 0 1px 0;
  right: 12px;
  width: 80px;
  opacity: 0;
  transition: 0.15s;
}
.golf-map-v2 .golfMapCourseImagesSwiper .swiper-map-button-next::after {
  content: "";
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.75rem;
}
.golf-map-v2 .golfMapCourseImagesSwiper .swiper-map-button-next:hover {
  transform: scale(0.96);
}
.golf-map-v2 .golfMapCourseInfoSwiper {
  height: auto;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% + 102px));
  width: 100%;
  padding: 12px 0 0 12px;
  user-select: none;
}
@media (min-width: 992px) {
  .golf-map-v2 .golfMapCourseInfoSwiper {
    transform: translateY(calc(-50% + 122px));
  }
}
@media (min-width: 1200px) {
  .golf-map-v2 .golfMapCourseInfoSwiper {
    transform: translateY(calc(-50% + 92px));
  }
}
@media (min-width: 1400px) {
  .golf-map-v2 .golfMapCourseInfoSwiper {
    transform: translateY(calc(-50% + 52px));
  }
}
@media (min-width: 1920px) {
  .golf-map-v2 .golfMapCourseInfoSwiper {
    transform: translateY(calc(-50% + 72px));
  }
}
.golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide {
  padding-right: 12%;
}
.golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper {
  padding: 0 0 0 7px;
}
.golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .title {
  color: white;
  font-size: 24px;
  font-weight: 500;
  line-height: 98%;
  margin: 0 0 70px 0;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .title {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .title {
    font-size: 25.7142857143px;
    margin: 0 0 50px 0;
  }
}
@media (min-width: 1200px) {
  .golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .title {
    font-size: 32.8571428571px;
  }
}
@media (min-width: 1400px) {
  .golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .title {
    font-size: 34.2857142857px;
  }
}
@media (min-width: 1920px) {
  .golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .title {
    font-size: 48px;
    margin: 0 0 70px 0;
  }
}
.golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .content {
  color: white;
  font-size: 24px;
  font-weight: 500;
  line-height: 106%;
  transition: 0.3s;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .content {
    font-size: 24px;
    margin-bottom: 28px;
  }
}
@media (min-width: 992px) {
  .golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .content {
    font-size: 17.1428571429px;
    margin-bottom: 28px;
  }
}
@media (min-width: 1200px) {
  .golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .content {
    font-size: 17.1428571429px;
    margin-bottom: 28px;
  }
}
@media (min-width: 1400px) {
  .golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .content {
    font-size: 17.1428571429px;
    margin-bottom: 28px;
  }
}
@media (min-width: 1920px) {
  .golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .content {
    font-size: 24px;
    margin-bottom: 28px;
  }
}
.golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .cta-wrapper .btn {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 0;
  color: #000;
  font-family: "AeonikPro-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  margin: 0;
  opacity: 0.2;
  padding: 16px 40px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .cta-wrapper .btn {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
  }
}
@media (min-width: 992px) {
  .golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .cta-wrapper .btn {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    padding: 8px 40px;
  }
}
@media (min-width: 1200px) {
  .golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .cta-wrapper .btn {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    padding: 8px 40px;
  }
}
@media (min-width: 1400px) {
  .golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .cta-wrapper .btn {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    padding: 8px 40px;
  }
}
@media (min-width: 1920px) {
  .golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .cta-wrapper .btn {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    padding: 16px 40px;
  }
}
.golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .cta-wrapper .btn:hover {
  background-color: #000;
  color: #fff;
}
.golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .image-wrapper {
  height: 110px;
  right: 40%;
}
@media (min-width: 992px) {
  .golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .image-wrapper {
    height: 78.5714285714px;
    right: 50%;
  }
}
@media (min-width: 1920px) {
  .golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .image-wrapper {
    height: 110px;
    right: 40%;
  }
}
.golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .image-wrapper img {
  height: 100%;
  width: auto;
}
@media (min-width: 992px) {
  .golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .image-wrapper img {
    height: 78.5714285714px;
  }
}
@media (min-width: 1920px) {
  .golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide .slider-wrapper .image-wrapper img {
    height: 110px;
  }
}
.golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide.swiper-slide-active .slider-wrapper {
  padding: 0;
}
.golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide.swiper-slide-active .cta-wrapper .btn {
  opacity: 1;
}
.golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide:last-of-type {
  padding-right: 500px;
  width: 100%;
}
.golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide-next .slider-wrapper .title {
  color: lightgray;
}
.golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide-next .slider-wrapper .content {
  color: lightgray;
}
.golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide-active .slider-wrapper .title {
  color: black;
}
.golf-map-v2 .golfMapCourseInfoSwiper .swiper-wrapper .swiper-slide-active .slider-wrapper .content {
  color: black;
}
.golf-map-v2 .btn {
  bottom: 0;
  font-size: 16px;
  padding: 16px 40px;
  margin: 20px 0 0 0;
}
@media (min-width: 768px) {
  .golf-map-v2 .btn {
    margin: 40px 0 0 0;
  }
}
@media (min-width: 1200px) {
  .golf-map-v2 .btn {
    margin: 40px 0 0 0;
  }
}
.golf-map-v2 .container h2 {
  font-family: "AeonikPro-Medium";
  font-size: 46px;
  font-weight: 500;
  hyphens: auto;
  line-height: 100%;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .golf-map-v2 .container h2 {
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 28px;
  }
}
@media (min-width: 992px) {
  .golf-map-v2 .container h2 {
    font-size: 45.7142857143px;
    margin-bottom: 28px;
  }
}
@media (min-width: 1200px) {
  .golf-map-v2 .container h2 {
    font-size: 45.7142857143px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 0px;
  }
}
@media (min-width: 1400px) {
  .golf-map-v2 .container h2 {
    font-size: 45.7142857143px;
    line-height: 100%;
  }
}
@media (min-width: 1920px) {
  .golf-map-v2 .container h2 {
    font-size: 64px;
    line-height: 100%;
  }
}
.golf-map-v2 .container .content {
  font-family: "AeonikPro-Medium";
  font-size: 16px;
}
@media (min-width: 768px) {
  .golf-map-v2 .container .content {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .golf-map-v2 .container .content {
    font-family: "AeonikPro-Medium";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 126%;
  }
}
@media (min-width: 1400px) {
  .golf-map-v2 .container .content {
    font-size: 16px;
  }
}
@media (min-width: 1920px) {
  .golf-map-v2 .container .content {
    font-size: 24px;
  }
}
.golf-map-v2 .container .message {
  background-color: #E9F7F2;
  padding: 26px 21px;
}
@media (min-width: 992px) {
  .golf-map-v2 .container .message {
    padding: 16px 11.4285714286;
    top: 0;
    position: absolute;
    z-index: 99;
  }
}
@media (min-width: 1400px) {
  .golf-map-v2 .container .message {
    padding: 18.5714285714px 15px;
    width: 70%;
  }
}
@media (min-width: 1920px) {
  .golf-map-v2 .container .message {
    padding: 26px 21px;
  }
}
.golf-map-v2 .container .message .message-content {
  font-family: "AeonikPro-Medium";
  font-size: 16px;
  margin: 21px 0 0 0;
}
@media (min-width: 768px) {
  .golf-map-v2 .container .message .message-content {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .golf-map-v2 .container .message .message-content {
    font-size: 14px;
    margin: 15px 0 0 0;
  }
}
@media (min-width: 1400px) {
  .golf-map-v2 .container .message .message-content {
    font-size: 12px;
    margin: 5px 0 0 0;
  }
}
@media (min-width: 1920px) {
  .golf-map-v2 .container .message .message-content {
    font-size: 16px;
    margin: 21px 0 0 0;
  }
}
.golf-map-v2 .container .mobile-map {
  margin-bottom: 0;
}
.golf-map-v2 .container .mobile-map .swiper-map-button-next {
  background-image: url(../img/arrow-map-mobile-right.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  margin: 0 0 1px 0;
  right: 12px;
  width: 60px;
}
.golf-map-v2 .container .mobile-map .swiper-map-button-prev {
  background-image: url(../img/arrow-map-mobile-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  margin: 0 0 1px 0;
  right: 12px;
  width: 60px;
}/*# sourceMappingURL=golf-map.css.map */