.step-input {
    width: 100%;
    padding: 0.5em;
    font-size: 1rem;
    border-bottom: 1px solid #000000;
  }
  .input-text-right{
      font-size: 20px;
  }
  .underline-only {
    width: 100%;
    padding-left: 6em;      
    border: none;
    border-bottom: 1px solid #dadada;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    box-sizing: border-box;
    text-align: right;  
    font-size: 20px;       
  }
  .underline-only::placeholder {
    font-style: normal;
  }
  .underline-only::-webkit-input-placeholder {
    font-style: normal;
  }
  .underline-only:-ms-input-placeholder {
    font-style: normal;
  }
  .underline-only::-ms-input-placeholder {
    font-style: normal;
  }
  .underline-only::-moz-placeholder {
    font-style: normal;
  }

.underline-only[type="number"]::-webkit-outer-spin-button,
.underline-only[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.underline-only[type="number"] {
  -moz-appearance: textfield;
}

.input-prefix-note{
font-size: 12px;
margin-top: 2rem;
}