/**
* Fonts 
*/
@font-face {
  font-family: "AeonikPro-Medium";
  src: url("../fonts/AeonikPro-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "AeonikPro-Regular";
  src: url("../fonts/AeonikPro-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "AeonikPro-Light";
  src: url("../fonts/AeonikPro-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "AeonikPro-Thin";
  src: url("../fonts/AeonikPro-Thin.woff") format("woff");
  font-display: swap;
}
/**
* Mixins Responsive Design
*/
em {
  font-family: "AeonikPro-Regular";
  font-style: normal;
}

.content-blog.bottom-none, blockquote.bottom-none, .image-blog.bottom-none, .gallery-blog.bottom-none {
  margin: 0;
}
.content-blog.top-none, blockquote.top-none, .image-blog.top-none, .gallery-blog.top-none {
  margin: 0;
}
.content-blog.bottom-xxs, blockquote.bottom-xxs, .image-blog.bottom-xxs, .gallery-blog.bottom-xxs {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .content-blog.bottom-xxs, blockquote.bottom-xxs, .image-blog.bottom-xxs, .gallery-blog.bottom-xxs {
    margin-bottom: 28px;
  }
}
@media (min-width: 992px) {
  .content-blog.bottom-xxs, blockquote.bottom-xxs, .image-blog.bottom-xxs, .gallery-blog.bottom-xxs {
    margin-bottom: 16px;
  }
}
@media (min-width: 1200px) {
  .content-blog.bottom-xxs, blockquote.bottom-xxs, .image-blog.bottom-xxs, .gallery-blog.bottom-xxs {
    margin-bottom: 24px;
  }
}
@media (min-width: 1400px) {
  .content-blog.bottom-xxs, blockquote.bottom-xxs, .image-blog.bottom-xxs, .gallery-blog.bottom-xxs {
    margin-bottom: 17.1428571429px;
  }
}
@media (min-width: 1920px) {
  .content-blog.bottom-xxs, blockquote.bottom-xxs, .image-blog.bottom-xxs, .gallery-blog.bottom-xxs {
    margin-bottom: 24px;
  }
}
.content-blog.bottom-xs, blockquote.bottom-xs, .image-blog.bottom-xs, .gallery-blog.bottom-xs {
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .content-blog.bottom-xs, blockquote.bottom-xs, .image-blog.bottom-xs, .gallery-blog.bottom-xs {
    margin-bottom: 28px;
  }
}
@media (min-width: 992px) {
  .content-blog.bottom-xs, blockquote.bottom-xs, .image-blog.bottom-xs, .gallery-blog.bottom-xs {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .content-blog.bottom-xs, blockquote.bottom-xs, .image-blog.bottom-xs, .gallery-blog.bottom-xs {
    margin-bottom: 40px;
  }
}
@media (min-width: 1400px) {
  .content-blog.bottom-xs, blockquote.bottom-xs, .image-blog.bottom-xs, .gallery-blog.bottom-xs {
    margin-bottom: 28.5714285714px;
  }
}
@media (min-width: 1920px) {
  .content-blog.bottom-xs, blockquote.bottom-xs, .image-blog.bottom-xs, .gallery-blog.bottom-xs {
    margin-bottom: 40px;
  }
}
.content-blog.bottom-sm, blockquote.bottom-sm, .image-blog.bottom-sm, .gallery-blog.bottom-sm {
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .content-blog.bottom-sm, blockquote.bottom-sm, .image-blog.bottom-sm, .gallery-blog.bottom-sm {
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .content-blog.bottom-sm, blockquote.bottom-sm, .image-blog.bottom-sm, .gallery-blog.bottom-sm {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .content-blog.bottom-sm, blockquote.bottom-sm, .image-blog.bottom-sm, .gallery-blog.bottom-sm {
    margin-bottom: 40px;
  }
}
@media (min-width: 1400px) {
  .content-blog.bottom-sm, blockquote.bottom-sm, .image-blog.bottom-sm, .gallery-blog.bottom-sm {
    margin-bottom: 28.5714285714px;
  }
}
@media (min-width: 1920px) {
  .content-blog.bottom-sm, blockquote.bottom-sm, .image-blog.bottom-sm, .gallery-blog.bottom-sm {
    margin-bottom: 40px;
  }
}
.content-blog.bottom-md, blockquote.bottom-md, .image-blog.bottom-md, .gallery-blog.bottom-md {
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .content-blog.bottom-md, blockquote.bottom-md, .image-blog.bottom-md, .gallery-blog.bottom-md {
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .content-blog.bottom-md, blockquote.bottom-md, .image-blog.bottom-md, .gallery-blog.bottom-md {
    margin-bottom: 60px;
  }
}
@media (min-width: 1400px) {
  .content-blog.bottom-md, blockquote.bottom-md, .image-blog.bottom-md, .gallery-blog.bottom-md {
    margin-bottom: 42.8571428571px;
  }
}
@media (min-width: 1920px) {
  .content-blog.bottom-md, blockquote.bottom-md, .image-blog.bottom-md, .gallery-blog.bottom-md {
    margin-bottom: 120px;
  }
}
.content-blog.bottom-lg, blockquote.bottom-lg, .image-blog.bottom-lg, .gallery-blog.bottom-lg {
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  .content-blog.bottom-lg, blockquote.bottom-lg, .image-blog.bottom-lg, .gallery-blog.bottom-lg {
    margin-bottom: 80px;
  }
}
@media (min-width: 992px) {
  .content-blog.bottom-lg, blockquote.bottom-lg, .image-blog.bottom-lg, .gallery-blog.bottom-lg {
    margin-bottom: 120px;
  }
}
@media (min-width: 1200px) {
  .content-blog.bottom-lg, blockquote.bottom-lg, .image-blog.bottom-lg, .gallery-blog.bottom-lg {
    margin-bottom: 120px;
  }
}
@media (min-width: 1400px) {
  .content-blog.bottom-lg, blockquote.bottom-lg, .image-blog.bottom-lg, .gallery-blog.bottom-lg {
    margin-bottom: 85.7142857143px;
  }
}
@media (min-width: 1920px) {
  .content-blog.bottom-lg, blockquote.bottom-lg, .image-blog.bottom-lg, .gallery-blog.bottom-lg {
    margin-bottom: 120px;
  }
}
.content-blog.bottom-xl, blockquote.bottom-xl, .image-blog.bottom-xl, .gallery-blog.bottom-xl {
  margin-bottom: 140px;
}
@media (min-width: 768px) {
  .content-blog.bottom-xl, blockquote.bottom-xl, .image-blog.bottom-xl, .gallery-blog.bottom-xl {
    margin-bottom: 140px;
  }
}
@media (min-width: 992px) {
  .content-blog.bottom-xl, blockquote.bottom-xl, .image-blog.bottom-xl, .gallery-blog.bottom-xl {
    margin-bottom: 140px;
  }
}
@media (min-width: 1200px) {
  .content-blog.bottom-xl, blockquote.bottom-xl, .image-blog.bottom-xl, .gallery-blog.bottom-xl {
    margin-bottom: 140px;
  }
}
@media (min-width: 1400px) {
  .content-blog.bottom-xl, blockquote.bottom-xl, .image-blog.bottom-xl, .gallery-blog.bottom-xl {
    margin-bottom: 140px;
  }
}
@media (min-width: 1920px) {
  .content-blog.bottom-xl, blockquote.bottom-xl, .image-blog.bottom-xl, .gallery-blog.bottom-xl {
    margin-bottom: 140px;
  }
}
.content-blog.top-xxs, blockquote.top-xxs, .image-blog.top-xxs, .gallery-blog.top-xxs {
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .content-blog.top-xxs, blockquote.top-xxs, .image-blog.top-xxs, .gallery-blog.top-xxs {
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  .content-blog.top-xxs, blockquote.top-xxs, .image-blog.top-xxs, .gallery-blog.top-xxs {
    margin-top: 16px;
  }
}
@media (min-width: 1200px) {
  .content-blog.top-xxs, blockquote.top-xxs, .image-blog.top-xxs, .gallery-blog.top-xxs {
    margin-top: 24px;
  }
}
@media (min-width: 1400px) {
  .content-blog.top-xxs, blockquote.top-xxs, .image-blog.top-xxs, .gallery-blog.top-xxs {
    margin-top: 17.1428571429px;
  }
}
@media (min-width: 1920px) {
  .content-blog.top-xxs, blockquote.top-xxs, .image-blog.top-xxs, .gallery-blog.top-xxs {
    margin-top: 24px;
  }
}
.content-blog.top-xs, blockquote.top-xs, .image-blog.top-xs, .gallery-blog.top-xs {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .content-blog.top-xs, blockquote.top-xs, .image-blog.top-xs, .gallery-blog.top-xs {
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  .content-blog.top-xs, blockquote.top-xs, .image-blog.top-xs, .gallery-blog.top-xs {
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .content-blog.top-xs, blockquote.top-xs, .image-blog.top-xs, .gallery-blog.top-xs {
    margin-top: 40px;
  }
}
@media (min-width: 1400px) {
  .content-blog.top-xs, blockquote.top-xs, .image-blog.top-xs, .gallery-blog.top-xs {
    margin-top: 28.5714285714px;
  }
}
@media (min-width: 1920px) {
  .content-blog.top-xs, blockquote.top-xs, .image-blog.top-xs, .gallery-blog.top-xs {
    margin-top: 40px;
  }
}
.content-blog.top-sm, blockquote.top-sm, .image-blog.top-sm, .gallery-blog.top-sm {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .content-blog.top-sm, blockquote.top-sm, .image-blog.top-sm, .gallery-blog.top-sm {
    margin-top: 40px;
  }
}
@media (min-width: 992px) {
  .content-blog.top-sm, blockquote.top-sm, .image-blog.top-sm, .gallery-blog.top-sm {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .content-blog.top-sm, blockquote.top-sm, .image-blog.top-sm, .gallery-blog.top-sm {
    margin-top: 40px;
  }
}
@media (min-width: 1400px) {
  .content-blog.top-sm, blockquote.top-sm, .image-blog.top-sm, .gallery-blog.top-sm {
    margin-top: 28.5714285714px;
  }
}
@media (min-width: 1920px) {
  .content-blog.top-sm, blockquote.top-sm, .image-blog.top-sm, .gallery-blog.top-sm {
    margin-top: 40px;
  }
}
.content-blog.top-md, blockquote.top-md, .image-blog.top-md, .gallery-blog.top-md {
  margin-top: 60px;
}
@media (min-width: 768px) {
  .content-blog.top-md, blockquote.top-md, .image-blog.top-md, .gallery-blog.top-md {
    margin-top: 60px;
  }
}
@media (min-width: 992px) {
  .content-blog.top-md, blockquote.top-md, .image-blog.top-md, .gallery-blog.top-md {
    margin-top: 60px;
  }
}
@media (min-width: 1400px) {
  .content-blog.top-md, blockquote.top-md, .image-blog.top-md, .gallery-blog.top-md {
    margin-top: 42.8571428571px;
  }
}
@media (min-width: 1920px) {
  .content-blog.top-md, blockquote.top-md, .image-blog.top-md, .gallery-blog.top-md {
    margin-top: 60px;
  }
}
.content-blog.top-lg, blockquote.top-lg, .image-blog.top-lg, .gallery-blog.top-lg {
  margin-top: 80px;
}
@media (min-width: 768px) {
  .content-blog.top-lg, blockquote.top-lg, .image-blog.top-lg, .gallery-blog.top-lg {
    margin-top: 80px;
  }
}
@media (min-width: 992px) {
  .content-blog.top-lg, blockquote.top-lg, .image-blog.top-lg, .gallery-blog.top-lg {
    margin-top: 120px;
  }
}
@media (min-width: 1200px) {
  .content-blog.top-lg, blockquote.top-lg, .image-blog.top-lg, .gallery-blog.top-lg {
    margin-top: 120px;
  }
}
@media (min-width: 1400px) {
  .content-blog.top-lg, blockquote.top-lg, .image-blog.top-lg, .gallery-blog.top-lg {
    margin-top: 85.7142857143px;
  }
}
@media (min-width: 1920px) {
  .content-blog.top-lg, blockquote.top-lg, .image-blog.top-lg, .gallery-blog.top-lg {
    margin-top: 120px;
  }
}
.content-blog.top-xl, blockquote.top-xl, .image-blog.top-xl, .gallery-blog.top-xl {
  margin-top: 140px;
}
@media (min-width: 768px) {
  .content-blog.top-xl, blockquote.top-xl, .image-blog.top-xl, .gallery-blog.top-xl {
    margin-top: 140px;
  }
}
@media (min-width: 992px) {
  .content-blog.top-xl, blockquote.top-xl, .image-blog.top-xl, .gallery-blog.top-xl {
    margin-top: 140px;
  }
}
@media (min-width: 1200px) {
  .content-blog.top-xl, blockquote.top-xl, .image-blog.top-xl, .gallery-blog.top-xl {
    margin-top: 140px;
  }
}
@media (min-width: 1400px) {
  .content-blog.top-xl, blockquote.top-xl, .image-blog.top-xl, .gallery-blog.top-xl {
    margin-top: 100px;
  }
}
@media (min-width: 1920px) {
  .content-blog.top-xl, blockquote.top-xl, .image-blog.top-xl, .gallery-blog.top-xl {
    margin-top: 140px;
  }
}

.hero-blog-p1 {
  max-height: 80vh;
}
.hero-blog-p1 .container .category {
  font-family: "AeonikPro-Medium";
  font-size: 16px;
  margin: 0 0 20px 0;
}
@media (min-width: 768px) {
  .hero-blog-p1 .container .category {
    font-size: 20px;
    margin: 0 0 20px 0;
  }
}
@media (min-width: 992px) {
  .hero-blog-p1 .container .category {
    font-size: 16px;
    margin: 0 0 20px 0;
  }
}
@media (min-width: 1200px) {
  .hero-blog-p1 .container .category {
    font-size: 24px;
    margin: 0 0 24px 0;
  }
}
@media (min-width: 1400px) {
  .hero-blog-p1 .container .category {
    font-size: 17.1428571429px;
    margin: 0 0 17.1428571429px 0;
  }
}
@media (min-width: 1920px) {
  .hero-blog-p1 .container .category {
    font-size: 24px;
    margin: 0 0 24px 0;
  }
}
.hero-blog-p1 .container h1 {
  font-family: "AeonikPro-Medium";
  font-size: 46px;
  line-height: 112%;
  margin: 0 0 28px 0;
}
@media (min-width: 768px) {
  .hero-blog-p1 .container h1 {
    font-size: 46px;
    margin: 0 0 28px 0;
  }
}
@media (min-width: 992px) {
  .hero-blog-p1 .container h1 {
    font-size: 64px;
    margin: 0 0 20px 0;
  }
}
@media (min-width: 1200px) {
  .hero-blog-p1 .container h1 {
    font-size: 64px;
    margin: 0 0 40px 0;
  }
}
@media (min-width: 1400px) {
  .hero-blog-p1 .container h1 {
    font-size: 68.5714285714px;
    margin: 0 0 28.5714285714px 0;
  }
}
@media (min-width: 1920px) {
  .hero-blog-p1 .container h1 {
    font-size: 96px;
    margin: 0 0 40px 0;
  }
}
.hero-blog-p1 .container .reading-time {
  font-family: "AeonikPro-Medium";
  font-size: 16px;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .hero-blog-p1 .container .reading-time {
    font-size: 24px;
    margin-bottom: 80px;
  }
}
@media (min-width: 992px) {
  .hero-blog-p1 .container .reading-time {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .hero-blog-p1 .container .reading-time {
    font-size: 24px;
  }
}
@media (min-width: 1400px) {
  .hero-blog-p1 .container .reading-time {
    font-size: 17.1428571429px;
  }
}
@media (min-width: 1920px) {
  .hero-blog-p1 .container .reading-time {
    font-size: 24px;
  }
}

.blog-content-block .container .intro-text {
  font-size: 16px;
  margin-top: 60px;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .blog-content-block .container .intro-text {
    font-size: 16px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1400px) {
  .blog-content-block .container .intro-text {
    margin-top: 57.1428571429px;
    margin-bottom: 42.8571428571px;
  }
}
@media (min-width: 1920px) {
  .blog-content-block .container .intro-text {
    margin-top: 80px;
    margin-bottom: 60px;
  }
}
.blog-content-block .container .intro-text strong {
  font-weight: 600;
}
.blog-content-block .container .intro-text h2 {
  font-family: "AeonikPro-Medium";
  font-size: 24px;
  hyphens: auto;
  line-height: 126%;
  margin: 0 0 24px 0;
}
@media (min-width: 768px) {
  .blog-content-block .container .intro-text h2 {
    font-size: 24px;
    line-height: normal;
    margin: 0 0 24px 0;
  }
}
@media (min-width: 992px) {
  .blog-content-block .container .intro-text h2 {
    font-size: 48px;
    line-height: 112%;
    margin: 0 0 40px 0;
  }
}
@media (min-width: 1400px) {
  .blog-content-block .container .intro-text h2 {
    font-size: 34.2857142857px;
    line-height: 38.4px;
    margin: 0 0 28.5714285714px 0;
  }
}
@media (min-width: 1920px) {
  .blog-content-block .container .intro-text h2 {
    font-size: 48px;
    line-height: 112%;
    margin: 0 0 40px 0;
  }
}
.blog-content-block .container .intro-text p {
  font-family: "AeonikPro-Medium";
  font-size: 16px;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .blog-content-block .container .intro-text p {
    font-size: 16px;
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .blog-content-block .container .intro-text p {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .blog-content-block .container .intro-text p {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  .blog-content-block .container .intro-text p {
    font-size: 17.1428571429px;
  }
}
@media (min-width: 1920px) {
  .blog-content-block .container .intro-text p {
    font-size: 24px;
  }
}
.blog-content-block .container .content-blog strong {
  font-weight: 600;
}
.blog-content-block .container .content-blog h2 {
  font-family: "AeonikPro-Medium";
  font-size: 24px;
  hyphens: auto;
  line-height: 126%;
  margin: 0 0 24px 0;
}
@media (min-width: 768px) {
  .blog-content-block .container .content-blog h2 {
    font-size: 24px;
    line-height: normal;
    margin: 0 0 24px 0;
  }
}
@media (min-width: 992px) {
  .blog-content-block .container .content-blog h2 {
    font-size: 48px;
    line-height: 112%;
    margin: 0 0 40px 0;
  }
}
@media (min-width: 1400px) {
  .blog-content-block .container .content-blog h2 {
    font-size: 34.2857142857px;
    line-height: 38.4px;
    margin: 0 0 28.5714285714px 0;
  }
}
@media (min-width: 1920px) {
  .blog-content-block .container .content-blog h2 {
    font-size: 48px;
    line-height: 112%;
    margin: 0 0 40px 0;
  }
}
.blog-content-block .container .content-blog ul {
  font-family: "AeonikPro-Medium";
}
.blog-content-block .container .content-blog ul li {
  font-family: "AeonikPro-Medium";
}
.blog-content-block .container .content-blog p {
  font-family: "AeonikPro-Medium";
  font-size: 16px;
}
@media (min-width: 768px) {
  .blog-content-block .container .content-blog p {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .blog-content-block .container .content-blog p {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .blog-content-block .container .content-blog p {
    font-size: 24px;
  }
}
@media (min-width: 1400px) {
  .blog-content-block .container .content-blog p {
    font-size: 17.1428571429px;
  }
}
@media (min-width: 1920px) {
  .blog-content-block .container .content-blog p {
    font-size: 24px;
  }
}
.blog-content-block .container .content-blog .wp-block-list {
  font-family: "AeonikPro-Medium";
  padding: 0 0 0 1em;
  font-size: 16px;
}
@media (min-width: 768px) {
  .blog-content-block .container .content-blog .wp-block-list {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .blog-content-block .container .content-blog .wp-block-list {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .blog-content-block .container .content-blog .wp-block-list {
    font-size: 36px;
  }
}
.blog-content-block .container .content-blog .simple-slider-blog .container .title {
  font-family: "AeonikPro-Medium";
  font-size: 46px;
}
@media (min-width: 768px) {
  .blog-content-block .container .content-blog .simple-slider-blog .container .title {
    font-size: 46px;
  }
}
@media (min-width: 992px) {
  .blog-content-block .container .content-blog .simple-slider-blog .container .title {
    font-size: 46px;
  }
}
@media (min-width: 1200px) {
  .blog-content-block .container .content-blog .simple-slider-blog .container .title {
    font-size: 64px;
  }
}
.blog-content-block .container blockquote {
  display: block;
  width: auto;
}
@media (min-width: 768px) {
  .blog-content-block .container blockquote {
    border-left: 2px solid #000;
    margin-left: 78px;
    padding: 0 0 0 30px;
  }
}
@media (min-width: 1200px) {
  .blog-content-block .container blockquote {
    margin-left: 190px;
  }
}
@media (min-width: 1400px) {
  .blog-content-block .container blockquote {
    margin-left: 136px;
  }
}
@media (min-width: 1920px) {
  .blog-content-block .container blockquote {
    margin-left: 97.1428571429px;
  }
}
.blog-content-block .container blockquote p {
  font-family: "AeonikPro-Medium";
  font-size: 24px;
}
@media (min-width: 768px) {
  .blog-content-block .container blockquote p {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .blog-content-block .container blockquote p {
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  .blog-content-block .container blockquote p {
    font-size: 48px;
  }
}
@media (min-width: 1400px) {
  .blog-content-block .container blockquote p {
    font-size: 34.2857142857px;
  }
}
@media (min-width: 1920px) {
  .blog-content-block .container blockquote p {
    font-size: 48px;
  }
}
.blog-content-block .container blockquote.font-sm p {
  font-family: "AeonikPro-Medium";
  font-size: 24px;
}
@media (min-width: 768px) {
  .blog-content-block .container blockquote.font-sm p {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .blog-content-block .container blockquote.font-sm p {
    font-size: 26px;
  }
}
@media (min-width: 1200px) {
  .blog-content-block .container blockquote.font-sm p {
    font-size: 28px;
  }
}
@media (min-width: 1400px) {
  .blog-content-block .container blockquote.font-sm p {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .blog-content-block .container blockquote.font-sm p {
    font-size: 28px;
  }
}
.blog-content-block .container blockquote cite {
  display: block;
  font-family: "AeonikPro-Medium";
  font-size: 24px;
  margin: 20px 0 0 0;
}
@media (min-width: 768px) {
  .blog-content-block .container blockquote cite {
    font-size: 24px;
    margin: 20px 0 0 0;
  }
}
@media (min-width: 992px) {
  .blog-content-block .container blockquote cite {
    font-size: 24px;
    margin: 20px 0 0 0;
  }
}
@media (min-width: 1200px) {
  .blog-content-block .container blockquote cite {
    font-size: 36px;
    margin: 40px 0 0 0;
  }
}
@media (min-width: 1400px) {
  .blog-content-block .container blockquote cite {
    font-size: 25.7142857143px;
    margin: 28.5714285714px 0 0 0;
  }
}
@media (min-width: 1920px) {
  .blog-content-block .container blockquote cite {
    font-size: 36px;
    margin: 40px 0 0 0;
  }
}
@media (min-width: 992px) {
  .blog-content-block .container .image-blog,
  .blog-content-block .container .gallery-blog,
  .blog-content-block .container .gallery-blog figure {
    height: 450px;
  }
}
@media (min-width: 1400px) {
  .blog-content-block .container .image-blog,
  .blog-content-block .container .gallery-blog,
  .blog-content-block .container .gallery-blog figure {
    height: 464.2857142857px;
  }
}
@media (min-width: 1920px) {
  .blog-content-block .container .image-blog,
  .blog-content-block .container .gallery-blog,
  .blog-content-block .container .gallery-blog figure {
    height: 650px;
  }
}
.blog-content-block .container .image-blog img,
.blog-content-block .container .gallery-blog img,
.blog-content-block .container .gallery-blog figure img {
  height: 100%;
  object-fit: cover;
}

.simple-slider-blog {
  padding: 0 0 80px 0;
}
@media (min-width: 768px) {
  .simple-slider-blog {
    padding: 0 0 120px 0;
  }
}
@media (min-width: 992px) {
  .simple-slider-blog {
    padding: 0 0 120px 0;
  }
}
@media (min-width: 1200px) {
  .simple-slider-blog {
    padding: 0 0 120px 0;
  }
}
.simple-slider-blog .container .simpleSliderBlog .swiper-slide .container .content-wrapper .title {
  font-family: "AeonikPro-Medium";
  font-size: 46px;
}
@media (min-width: 768px) {
  .simple-slider-blog .container .simpleSliderBlog .swiper-slide .container .content-wrapper .title {
    font-size: 46px;
  }
}
@media (min-width: 992px) {
  .simple-slider-blog .container .simpleSliderBlog .swiper-slide .container .content-wrapper .title {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .simple-slider-blog .container .simpleSliderBlog .swiper-slide .container .content-wrapper .title {
    font-size: 36px;
  }
}
.simple-slider-blog .container .simpleSliderBlog .swiper-slide .container .content-wrapper .content p {
  font-family: "AeonikPro-Medium";
  font-size: 16px;
}
@media (min-width: 768px) {
  .simple-slider-blog .container .simpleSliderBlog .swiper-slide .container .content-wrapper .content p {
    font-size: 38px;
  }
}
@media (min-width: 992px) {
  .simple-slider-blog .container .simpleSliderBlog .swiper-slide .container .content-wrapper .content p {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .simple-slider-blog .container .simpleSliderBlog .swiper-slide .container .content-wrapper .content p {
    font-size: 20px;
  }
}
.simple-slider-blog .swiper-buttons .swiper-blog-button-prev img, .simple-slider-blog .swiper-buttons .swiper-blog-button-next img {
  height: 24px;
  width: 24px;
}
@media (min-width: 768px) {
  .simple-slider-blog .swiper-buttons .swiper-blog-button-prev img, .simple-slider-blog .swiper-buttons .swiper-blog-button-next img {
    height: 24px;
    width: 24px;
  }
}
@media (min-width: 992px) {
  .simple-slider-blog .swiper-buttons .swiper-blog-button-prev img, .simple-slider-blog .swiper-buttons .swiper-blog-button-next img {
    height: 32px;
    width: 32px;
  }
}
@media (min-width: 1200px) {
  .simple-slider-blog .swiper-buttons .swiper-blog-button-prev img, .simple-slider-blog .swiper-buttons .swiper-blog-button-next img {
    height: 32px;
    width: 32px;
  }
}

.blog-wrapper {
  overflow-x: hidden;
}
@media (min-width: 992px) {
  .blog-wrapper {
    height: 100%;
    max-height: 41.6666666667vw;
    min-height: auto;
    overflow: hidden;
  }
}
.blog-wrapper .container .sticky-tiles .blog-tile-sticky-large .container-fluid {
  min-height: 800px;
}
@media (min-width: 992px) {
  .blog-wrapper .container .sticky-tiles .blog-tile-sticky-large .container-fluid {
    min-height: 41.6666666667vw;
  }
}
.blog-wrapper .container .sticky-tiles .blog-tile-sticky-large .container-fluid .content-wrapper .categories {
  font-family: "AeonikPro-Medium";
  font-size: 16px;
  margin: 0 0 20px 0;
}
@media (min-width: 768px) {
  .blog-wrapper .container .sticky-tiles .blog-tile-sticky-large .container-fluid .content-wrapper .categories {
    font-size: 20px;
    margin: 0 0 20px 0;
  }
}
@media (min-width: 992px) {
  .blog-wrapper .container .sticky-tiles .blog-tile-sticky-large .container-fluid .content-wrapper .categories {
    margin: 0 0 40px 0;
    font-size: 1.25rem !important;
    font-size: clamp(1.25rem, 0.9827586207rem + 0.4310344828vw, 1.5rem) !important;
    /*line-height: calc(100vw/65.40)!important;*/
    line-height: 1.575rem !important;
    line-height: clamp(1.575rem, 1.2382758621rem + 0.5431034483vw, 1.89rem) !important;
  }
}
@media (min-width: 1200px) {
  .blog-wrapper .container .sticky-tiles .blog-tile-sticky-large .container-fluid .content-wrapper .categories {
    font-size: 24px;
    margin: 0 0 40px 0;
  }
}
.blog-wrapper .container .sticky-tiles .blog-tile-sticky-large .container-fluid .content-wrapper .title {
  font-family: "AeonikPro-Medium";
  font-size: 46px;
  margin: 0 0 40px 0;
  padding-right: 48px;
}
@media (min-width: 768px) {
  .blog-wrapper .container .sticky-tiles .blog-tile-sticky-large .container-fluid .content-wrapper .title {
    font-size: 46px;
    margin: 0 0 20px 0;
  }
}
@media (min-width: 992px) {
  .blog-wrapper .container .sticky-tiles .blog-tile-sticky-large .container-fluid .content-wrapper .title {
    margin: 0 0 64px 0;
    font-size: 3.8461538462vw !important;
    line-height: 4.1425020713vw !important;
  }
}
@media (min-width: 1200px) {
  .blog-wrapper .container .sticky-tiles .blog-tile-sticky-large .container-fluid .content-wrapper .title {
    font-size: 96px;
    margin: 0 0 64px 0;
  }
}
.blog-wrapper .container .sticky-tiles .blog-tile-sticky-large .container-fluid .content-wrapper .cta-wrapper {
  margin-bottom: 98px;
}
@media (min-width: 768px) {
  .blog-wrapper .container .sticky-tiles .blog-tile-sticky-large .container-fluid .content-wrapper .cta-wrapper {
    margin-bottom: 98px;
  }
}
@media (min-width: 992px) {
  .blog-wrapper .container .sticky-tiles .blog-tile-sticky-large .container-fluid .content-wrapper .cta-wrapper {
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .blog-wrapper .container .sticky-tiles .blog-tile-sticky-large .container-fluid .content-wrapper .cta-wrapper {
    margin-bottom: 80px;
  }
}
@media (min-width: 1400px) {
  .blog-wrapper .container .sticky-tiles .blog-tile-sticky-large .container-fluid .content-wrapper .cta-wrapper {
    margin-bottom: 80px;
  }
}

.double-image-content .content-container {
  position: relative;
  padding: 0;
}
@media (min-width: 375px) {
  .double-image-content .content-container {
    display: block;
    position: relative;
    transform: none;
    top: unset;
    right: unset;
    left: unset;
  }
}
@media (min-width: 768px) {
  .double-image-content .content-container {
    display: block;
    position: relative;
    transform: none;
    top: unset;
    right: unset;
    left: unset;
  }
}
@media (min-width: 1200px) {
  .double-image-content .content-container {
    display: block;
    position: relative;
    transform: none;
    top: unset;
    right: unset;
    left: unset;
  }
}
@media (min-width: 1400px) {
  .double-image-content .content-container {
    display: block;
    position: relative;
    transform: none;
    top: unset;
    right: unset;
    left: unset;
  }
}
.double-image-content .content-container .content-wrapper {
  display: block;
  position: relative;
  color: #000;
  font-family: "AeonikPro-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 126%;
  transform: none;
  top: unset;
  right: unset;
  left: unset;
}
@media (min-width: 768px) {
  .double-image-content .content-container .content-wrapper {
    padding: 80px 0 0 0;
  }
}
.double-image-content .responsive-absolute {
  display: none;
}
@media (min-width: 768px) {
  .double-image-content .responsive-absolute {
    display: none;
  }
}
@media (min-width: 992px) {
  .double-image-content .responsive-absolute {
    display: block;
    position: absolute;
    padding-bottom: 120px;
    padding-top: 250px;
    font-family: "AeonikPro-Medium";
    color: white;
    font-style: normal;
    font-weight: 500;
    line-height: 112%;
    font-size: 34px;
    font-size: 38px;
  }
}
@media (min-width: 1200px) {
  .double-image-content .responsive-absolute {
    font-size: 46px;
  }
}
@media (min-width: 1400px) {
  .double-image-content .responsive-absolute {
    font-size: 64px;
  }
}
.simple-slider-timeline-v2 .simpleSliderTimelineV2Thumbs .swiper-wrapper .swiper-timelinev2thumbs-0 .swiper-wrapper .swiper-slide-active {
  display: block !important;
}
@media (min-width: 768px) {
  .simple-slider-timeline-v2 .simpleSliderTimelineV2Thumbs .swiper-wrapper .swiper-timelinev2thumbs-0 .swiper-wrapper .swiper-slide-active {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .simple-slider-timeline-v2 .simpleSliderTimelineV2Thumbs .swiper-wrapper .swiper-timelinev2thumbs-0 .swiper-wrapper .swiper-slide-active {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .simple-slider-timeline-v2 .simpleSliderTimelineV2Thumbs .swiper-wrapper .swiper-timelinev2thumbs-0 .swiper-wrapper .swiper-slide-active {
    display: block !important;
  }
}
@media (min-width: 1400px) {
  .simple-slider-timeline-v2 .simpleSliderTimelineV2Thumbs .swiper-wrapper .swiper-timelinev2thumbs-0 .swiper-wrapper .swiper-slide-active {
    display: block !important;
  }
}
.simple-slider-timeline-v2 .simpleSliderTimelineV2Thumbs .swiper-wrapper .last-swipe {
  pointer-events: all;
}
@media (min-width: 992px) {
  .simple-slider-timeline-v2 .simpleSliderTimelineV2Thumbs .swiper-wrapper .last-swipe {
    pointer-events: none;
  }
}

.simple-slider-timeline-v2 {
  overflow-x: hidden;
}
.simple-slider-timeline-v2 .swiper.simpleSliderTimelineV2 {
  pointer-events: none;
}
.simple-slider-timeline-v2 .simpleSliderTimelineV2Thumbs {
  overflow: visible;
}
@media (min-width: 992px) {
  .simple-slider-timeline-v2 .simpleSliderTimelineV2Thumbs {
    overflow: hidden;
  }
}
.simple-slider-timeline-v2 .simpleSliderTimelineV2Thumbs .swiper-wrapper .swiper-slide {
  cursor: grab;
}
.simple-slider-timeline-v2 .simpleSliderTimelineV2Thumbs .swiper-slide.empty-slide-timeline {
  background-color: transparent;
  cursor: default;
  display: none;
  user-select: none;
}
@media (min-width: 992px) {
  .simple-slider-timeline-v2 .simpleSliderTimelineV2Thumbs .swiper-slide.empty-slide-timeline {
    display: block;
  }
}
.simple-slider-timeline-v2 .simpleSliderTimelineV2Thumbs .repeated-last-slide {
  display: none;
}
@media (min-width: 992px) {
  .simple-slider-timeline-v2 .simpleSliderTimelineV2Thumbs .repeated-last-slide {
    display: block;
  }
}
.simple-slider-timeline-v2 .scroll-wrapper .swiper-scrollbar {
  background: rgba(0, 0, 0, 0.2) !important;
  left: 50% !important;
  margin: 28px 0 20px 0 !important;
  transform: translateX(-50%) !important;
  width: 100% !important;
}
@media (min-width: 992px) {
  .simple-slider-timeline-v2 .scroll-wrapper .swiper-scrollbar {
    background: rgba(0, 0, 0, 0.2) !important;
    left: 50% !important;
    margin: 0px 0 80px 0 !important;
    transform: translateX(-50%) !important;
    width: 100% !important;
  }
}
@media (min-width: 1400px) {
  .simple-slider-timeline-v2 .scroll-wrapper .swiper-scrollbar {
    background: rgba(0, 0, 0, 0.2) !important;
    left: 50% !important;
    margin: 0px 0 57.1428571429px 0 !important;
    transform: translateX(-50%) !important;
    width: 100% !important;
  }
}
@media (min-width: 1920px) {
  .simple-slider-timeline-v2 .scroll-wrapper .swiper-scrollbar {
    background: rgba(0, 0, 0, 0.2) !important;
    left: 50% !important;
    margin: 0px 0 80px 0 !important;
    transform: translateX(-50%) !important;
    width: 100% !important;
  }
}
.simple-slider-timeline-v2 .swiper-buttons .swiper-button-next.disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.numbers-and-data-entry .container .number {
  display: flex;
}/*# sourceMappingURL=blog.css.map */